*{outline: none}
/* custom dropbox */
.box-drop{
  position: relative;
  background: url(../images/bg-combobox.png) repeat-x left bottom;
  width: 160px;
  font-family: 'MuseoSans300', Arial;
  height: auto;
  font-size: 16px;
  line-height: 35px;
  margin: 0 50px 20px 0;
  padding: 0 0 0 10px;

  border: 1px solid #ebebec;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-bottom: 4px;
}
.box-drop a.open-drop{
  display: block;
  color: #324e69;
  text-decoration: none;
  background: url(../images/arrow-down.png) no-repeat 92% center;
  width: 100%;
  padding: 0;
  text-transform: none
}
.box-drop .box-drop-extended{
  position: absolute;
  width: 170px;
  height: 180px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 32px;
  left: -1px;
  background: #fff;
  border-left: 1px solid #ebebec;
  border-right: 1px solid #ebebec;
  border-top: 1px solid #ebebec;

  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.drop-extended{
  margin: 0;
  padding: 0
}

.drop-extended li{
  float: left;
  width: 167px
}
.drop-extended li a{
  float: left;
  color: #324e69;
  font-size: 14px;
  padding: 0 0 0 10px;
  text-transform: none;
  border-bottom: 1px solid #ebebec;
  text-decoration: none;
  width: 100%
}
.box-drop .box-drop-extended li a:hover{
  background: #fafafa;
}

.drop-bg-bottom {
  display: none
}
.box-drop .box-drop-extended ul{
  height: 177px;
}
.box-drop .box-drop-extended .drop-bg-topo{}
.box-drop .drop-extended{
  list-style: none;
  left: 0;
}
.box-drop .drop-extended li.odd{}
.box-drop .drop-extended li.even{}
.box-drop .box-drop-extended .drop-bg-bottom{}

/* Previsão nas Cidades */
.box-previsao .conteudo .info{
  float: left;
  width: 100%;
  border-top: 1px solid #ebebec;
  padding: 20px 0 15px 0
}
.box-previsao .conteudo .info img,
.box-previsao .conteudo .info span{
  float: left;
}
.box-previsao .conteudo .info img{
  width: 50px;
  margin-right: 15px
}
.box-previsao .conteudo .info span{
  font-size: 20px;
  font-family: 'MuseoSans100'
}
.box-previsao .conteudo .info .cidade-estado{
  float: left;
  width: 65%;
  font-size: 16px;
  color: #324e69;
  line-height: 45px
}

.box-previsao .conteudo.padd-bottom0{
  padding-bottom: 0
}

